
<p>
  <mat-toolbar color="primary">
    <span>Warehouse Home Page</span>
    <span class="example-spacer"></span>
    <div class="example-button-row">
      <button routerLink="/Warehouses">Home</button>
      <button routerLink="/Warehouses/new-stock-entry">New Stock Entry</button>
      <button routerLink="/Warehouses/track">Track Order</button>
      <button routerLink="/Warehouses/stock-list">Stock list</button>
      <button routerLink="/Warehouses/service-and-dispatch">service and dispatch</button>
      <button routerLink="/Warehouses/purchase-orders">Purchase-orders</button>
      <button routerLink="">log Out</button>
    </div>
  </mat-toolbar>
  
  <!-- <img src='/salesProject/src/assets/ware.jpg..'> -->
<!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
  <router-outlet></router-outlet>