
  <p>
    <mat-toolbar color="primary">
      <span>Admin Home Page</span>
      <span class="example-spacer"></span>
        <div class="example-button-row">
          <button routerLink="/admin">home</button>
          <button routerLink="/Admin/list-distributors">list of micro dis</button>
          <button routerLink="/Admin/list-employee">list of employees</button>
          <button routerLink="/Admin/status">status</button>
          <button routerLink="/Admin/stock-in-ware-house">stock in warehouse</button>
          <button routerLink="/Admin/total-sales-eod">total sales </button>
          <button routerLink="/Admin/view-and-edit-product-catalog-and-price">product catalog & price</button>
          <button routerLink="">logout</button>

          
        </div>
    </mat-toolbar>
  </p>
  <router-outlet></router-outlet>
