<body>
<ware-house></ware-house>
<div class="ok">
    <!-- -->
        <label for="prodname">New Product Name:</label>
        <input type="text" class="formcontrol" placeholder="enter product name"><br><br>
        <!-- <mat-form-field> 
        <label for="prodid">Product Id: </label> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <input matInput type="text" class="formcontrol"  formControlName="Arrival"><br><br>
        </mat-form-field> -->
        
        <label for="quantity">Quantity: </label>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" class="formcontrol"  formControlName="quantity"placeholder="enter quantity"><br><br>
        <label for="Type">Price: </label>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" class="formcontrol" formControlName="Type"placeholder="enter price"><br><br>
        <label for="producttype">Product Type: </label> &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" class="formcontrol"  formControlName="producttype"placeholder="enter product type"><br><br>
        <label for="productbrand">Product Brand: </label>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" class="formcontrol"  formControlName="productbrand"placeholder="enter brand"><br><br>
        <label for="description">Description: </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" class="formcontrol"  formControlName="description"placeholder="enter description"><br><br>
        <button class="btn btn-danger">reset</button> ||
        <button class="btn btn-success">save</button>
    <!--  -->
    </div>
</body>