<ware-house></ware-house>

<body>
<p>new-stock-entry works!</p>
        <label for="prodname">New Product Name:</label>
        <input type="text" class="formcontrol" placeholder=><br><br>

        <label for="prodid">Product Id: </label>
        <input type="text" class="formcontrol"  formControlName="Arrival"><br><br>
        <label for="quantity">Quantity: </label>
        <input type="text" class="formcontrol"  formControlName="quantity"><br><br>
        <label for="Type">Price: </label>
        <input type="text" class="formcontrol" formControlName="Type"><br><br>
        <label for="producttype">Product Type: </label>
        <input type="text" class="formcontrol"  formControlName="producttype"><br><br>
        <label for="productbrand">Product Brand: </label>
        <input type="text" class="formcontrol"  formControlName="productbrand"><br><br>
        <label for="description">Description: </label>
        <input type="text" class="formcontrol"  formControlName="description"><br><br>
        <button class="btn btn-danger">reset</button>
    </body>