.example-spacer {
    flex: 1 1 auto;
}


  .note{
    margin-left: 30%;
  }
  .login_page{
    margin: 1%;
    text-align: center;
    border: solid 1px;
    padding: 2%;
  }
  .example-full-width{
    width: 30%;
  }
.option{
  text-align:center;
  padding-top: 3%;
}
.bg{
  background-color: black;
  color: white;
}
