<mat-toolbar color="primary">
    <span><img src="https://media.istockphoto.com/id/1345389715/vector/abstract-black-scorpio.jpg?s=612x612&w=0&k=20&c=WqUxGMnxukfklsKvEzJvOCe916YdUrlFXavmkgUdfdk=" width="40px"> </span>
    <span class="note">WELCOME TO SALES &amp; DISTRIBUTION APPLICATION</span>
    <span class="example-spacer"></span>
    <span>{{currentDate | date:'yyyy-MM-dd'}}</span>
    
    <button  mat-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<form [formGroup]="loginform">
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="Distributor()"  ngDefaultControl formControlName="dis"><mat-icon>add_shopping_cart</mat-icon>Distributor</button>
        <button mat-menu-item (click)="Authorizer()" ngDefaultControl formControlName="dis"><mat-icon>account_circle</mat-icon>Authorizer</button>
        <button mat-menu-item (click)="Warehouse()" ngDefaultControl formControlName="dis"><mat-icon>shopping_cart</mat-icon>Warehouse</button>         
        <button mat-menu-item (click)="Admin()" ngDefaultControl formControlName="dis"><mat-icon>supervised_user_circle</mat-icon>Admin</button>
    </mat-menu>
    <div class="login_page">
        <mat-form-field class="example-full-width">
            <mat-label>Email*</mat-label>
            <input type="email" matInput placeholder="{{changing}}"  formControlName="Uname">
        </mat-form-field><br>
        <mat-form-field class="example-full-width">
            <mat-label>PassWord*</mat-label>
            <input type="password" matInput placeholder="{{passwordchanging}}"  formControlName="Pssword">
        </mat-form-field><br>
        <button mat-raised-button color="primary"   (click)="onClick()">Login</button>&nbsp;
        <a href="#">Forget Password</a><br><br>
        <button mat-raised-button color="primary" (click)="register()" [disabled]="disabled">Registration</button>
        
    </div>
</form>
