
  <p>
    <mat-toolbar color="primary">
      <span>Distributor Home Page</span>
      <span class="example-spacer"></span>
        <div class="example-button-row">
          <button routerLink="/Distributor">Home</button>
          <button routerLink="/my-profile">My Profile</button>
          <button routerLink="/products">Products</button>
          <button routerLink="/purchase-order">Purchase Orders</button>
          <button routerLink="/stock">Stock</button>
          <button routerLink="">Log Out</button>
          
        </div>
    </mat-toolbar>
  </p>
  hii

  
  <router-outlet></router-outlet>