
  <p>
    <mat-toolbar color="primary">
      <span>Distributor Home Page</span>
      <span class="example-spacer"></span>
        <div class="example-button-row">
          <button routerLink="/Distributor">Home</button>&nbsp;
          <button routerLink="/Distributor/my-profile">My Profile</button>&nbsp;
          <button routerLink="/Distributor/products">Products</button>&nbsp;
          <button routerLink="/Distributor/purchase-order">Purchase Orders</button>&nbsp;
          <button routerLink="/Distributor/stock">Stock</button>&nbsp;
          <button routerLink="">Log Out</button>
          
        </div>
    </mat-toolbar>
  </p>
  <router-outlet></router-outlet>