<!-- <p>warehouse works!</p> -->
<mat-toolbar color="primary">

      <span>warehouse</span>
      <span class="example-spacer"></span>
        <div class="example-button-row">
          <button routerLink="/new-stock">New stock entry</button> |
          <button routerLink="/list-of-stock">list of stock</button> |
          <button routerLink="/courier-service">courier service and dispatch</button> |
          <button routerLink="/prepare-packing-list-as-per-purchase-order">packing lists</button> |
          <button routerLink="/receive-purchase-orders-from-authorizer">receive purchase orders from authorizer</button> |
          <button routerLink="/update-the-courier-tracking-info-to-micro-distributor">update courier tracking</button>

        </div>
</mat-toolbar>
<router-outlet></router-outlet>
