 <!-- <p>warehouse works!</p> -->
<div class='background'>
 <p>
  <mat-toolbar color="primary">

        <span>warehouse</span>
        <span class="example-spacer"></span>
          <div class="example-button-row">
            <button routerLink="new-stock">New stock entry</button> |
            <button routerLink="list">list of stock</button> |
            <button routerLink="courier-service">courier service and dispatch</button> |
            <button routerLink="prepare-packing-list">packing lists</button> |
            <button routerLink="receive purchase orders">receive purchase orders from authorizer</button> |
            <button routerLink="update the courier tracking info">update courier tracking info</button>

          </div>
  </mat-toolbar>
  </p>
</div>
<router-outlet></router-outlet>
